# Add your API Keys below
MONGODB_URI=mongodb+srv://harshgupta07h_db_user:Harsh@03@cluster0.xeqk8qi.mongodb.net/?appName=Cluster0
GOOGLE_CLIENT_ID=530890463442-veipfs6tljds08sckge08kn93g0c5cg8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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